@import "./coustom-variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./componets/componets-index";
@import "./configs/configs-index";
@import "./layout/layout-index";

* {
  margin: 0;
}

body{
  font-size: $font-size-sm;
  font-family: $font-family-base;
  font-weight: normal;
  [lang="ar"] & {
    direction: rtl;
  }
}
